<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/TMural.css">
    <title>Idean Menu</title>
</head>
<body>
    <div class="grade">
        <div class="menu">
            <a href="file:///D:/xampp/htdocs/Idean%201.0/view/TelaInicial.html">
                <img src="../img/Logo.png" alt="" width="100px"><br><br>
            </a>
            <div class="titulo">Publicar</div><br>
            <div class="opcao">descobrir</div>
            <div class="opcao">referências</div>
            <div class="opcao">ajuda</div><br>
            <div class="voltar">voltar</div>
        </div>
        <div class="geral">
            <div class="ideiaspublicas">Ideias mais Hypadas</div><br>
            <div class="preview"> <img src="../img/Preview.png" alt="" width="275" height="229"> </div>
            <div class="ideia">ideia muito boa e etc etc etc
                <img src="../img/like.png" alt="" height="20px"> 1000
            </div><br>

            <div class="preview"> <img src="../img/Preview.png" alt="" width="275" height="229"> </div>
            <div class="ideia">ideia muito boa e etc etc etc
                <img src="../img/like.png" alt="" height="20px"> 1000
            </div><br>
            
            <div class="preview"> <img src="../img/Preview.png" alt="" width="275" height="229"> </div>
            <div class="ideia">ideia muito boa e etc etc etc
                <img src="../img/like.png" alt="" height="20px"> 1000
            </div><br>
        </div>
    </div>
</body>
</html>