<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/TIdeiasMenu.css">
    <title>Menu de Ideias</title>
</head>
<body>
    <div class="grade">
        <div class="menu">
            <a href="file:///D:/xampp/htdocs/Idean%201.0/view/TelaInicial.html">
                <img src="../img/Logo.png" alt="" width="100px"><br><br>
            </a>
        </div>
    </div>
</body>
</html>