<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/TIdeiasMenu.css">
    <link rel="stylesheet" href="css/Geral.css">

    <title>Menu de Ideias</title>
</head>

<body>
    <div class="grade">
        <div class="menu">
            <a href="https://localhost/Idean%201.0/view/index.html">
                <img src="../img/Logo.png" alt="" width="100px"><br><br>
            </a>
            <div class="publicar">Publicar</div><br>
            <div class="opcao">Home</div>
            <div class="opcao">Mural</div>
            <div class="opcao">Ajuda</div><br><br>
            <div class="opcao">Sair</div>
        </div>
        <div class="geral_ideia">
            <div class="tit_ideias">Ideias</div><br>
            <div class="preview"> <img src="../img/Preview.png" alt="" width="100" height="120"> </div>
            <div class="ideia">ideia muito boa e etc etc etc
                <img src="../img/mensagem-em-uma-garrafa.png" alt="" height="20px">
            </div><br>
            <div class="preview"> <img src="../img/Preview.png" alt="" width="100" height="120"> </div>
            <div class="ideia">ideia muito boa e etc etc etc
                <img src="../img/mensagem-em-uma-garrafa.png" alt="" height="20px">
            </div><br>
        </div>
        <div class="geral_grupo">
            <div class="tit_grupos">Grupos</div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
            <div class="grupo">Grupo de ideias muito boas
                <img src="../img/ferramenta-lapis.png" alt="" height="15px">
            </div>
        </div>
    </div>
</body>

</html>