<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/TCriarConta.css">
    <title>Criar Conta</title>
</head>
<body>
    <div class="grade">
        <div class="cadastro">
            <div class="logo">
                <a href="file:///D:/xampp/htdocs/Idean%201.0/view/TelaInicial.html">
                    <img src="../img/Logo.png" alt="" width="100px"><br><br>
                </a>
            </div>
            <div class="titulo">Crie sua conta</div>
            <br><br><br><br>
            <div class="titulo">
                Login
            </div>
            <div class="login">
                __________
            </div>
            <br>
            <div class="titulo">
                Senha
            </div>
            <div class="login">
                __________
            </div><br>
            <div class="entrar">Criar Conta</div>

        </div>
    </div>
</body>
</html>