<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/TInicial.css">
    <title>Idean</title>
</head>

<body>
    <div class="grade">

        <div class="menu">
            <a href="file:///D:/xampp/htdocs/Idean%201.0/view/TelaInicial.html">
                <img src="../img/Logo.png" alt="" width="100px"><br><br>
            </a>
            <div class="opcao"> <a href=""></a>Mural</div>
            <div class="opcao">Home</div>
            <div class="opcao">Ideias</div>
            <div class="opcao">Ajuda</div> <br><br>
            <div class="opcao">Sair</div>
        </div>
        <div class="geral">
            <div class="titulo">Ideias Recentes</div>
            <div class="ideias">Exibir apenas as 10 ideias mais recentes</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>
            <div class="ideias">Várias ideias aqui!</div>

        </div>

    </div>
</body>

</html>